.card-stacked .card-title {
    padding: 0 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

/* hide the map in mobile devices */
@media only screen and (max-width: 500px) {
    .card-image {
        display: none;
    }
}
